/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/03/2018, 22:37:38
    Author     : magno
*/

div{
    margin-bottom: 1px;
    margin-top: 1px;
}

div .botao{
    margin-left: 2px;
}

